
.cards img {
    display: block; 
    width: 200px;
   
}

a {
 text-decoration: none;    
}

/********************
Imports
*******************/

@import url('reset.css');
@import url('accessibility.css');
@import url('card-styles.css');


/********************
YOUR STYLES
*******************/

.lg-backdrop {
 background-color: #4b5663;
}

.lg-image {
 border-radius: 4px;
    box-shadow: 0 0 8px;
}


/********************
MEDIA QUERIES
*******************/

/* Desktop */
@media (min-width: 1200px) {

}

/* Tablet */
@media (min-width: 768px) {

}

/* Mobile */
@media (min-width: 480px) {

}